[submodule "speaker_impedance_data"]
	path = speaker_impedance_data
	url = https://github.com/ckyb63/speaker_impedance_data.git
[submodule "speaker_impedance_doc"]
	path = speaker_impedance_doc
	url = https://github.com/ckyb63/speaker_impedance_doc.git
