.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw

*.csv
*.json

# Just Collected Data Files
/Collected_Data_Sep16
/Collected_Data_Mar26
/Collected_Data_Mar27
/ML_Dataset_326
/ML_Dataset_327

/myenv

*.keras
*.h5

*.mat
*.fig

Analog Discovery/Collected_Data/
Analog Discovery/ML_Datasets/

.markdownlint.yaml

Impedance-main/

matlab/figures/*
