.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw

*.csv
*.json

/Collected_Data_Sep16
/myenv

*.png
*.keras
*.h5
*.csv

*.mat
*.fig

Analog Discovery/Collected_Data/
Analog Discovery/ML_Datasets/

!Analog Discovery/assets/speaker_icon.png