.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw

*.csv
*.json

/myenv

*.keras
*.h5

*.mat
*.fig

Analog Discovery/Collected_Data/
Analog Discovery/ML_Datasets/

.markdownlint.yaml

Impedance-main/

matlab/figures/*
